<div class="card">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center"><b>Definición de Agenda</b></h3>
      <hr>
    </div>
    <div class="card-text text-center">
      <form [formGroup]='formCongress'>
        <div class="row justify-content-md-center">
        </div>
        <div class="row">
          <!-- Fecha Inicio Congreso -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaInCongreso'>Inicio del congreso: <span
                class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaInCongreso' [ngClass]="{'is-invalid': (formCongress.controls.FechaInCongreso.touched || submitted)
        && formCongress.controls.FechaInCongreso.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaInCongreso.touched || submitted) && formCongress.controls.FechaInCongreso.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
          <br>
          <!-- Fecha Fin Congreso-->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaFinCongreso'>Fin del congreso: <span
                class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaFinCongreso' [ngClass]="{'is-invalid': (formCongress.controls.FechaFinCongreso.touched || submitted)
           && formCongress.controls.FechaFinCongreso.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaFinCongreso.touched || submitted) && formCongress.controls.FechaFinCongreso.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
        </div>
        <hr>
        <h4 class="card-title text-center"><b>Inscripción</b></h4>
        <div class="row">
          <!-- Fecha Fin Inscripción Temprana -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaFinInscripTemprana'>Fin de inscripción temprana:<span
                class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaFinInscripTemprana' [ngClass]="{'is-invalid': (formCongress.controls.FechaFinInscripTemprana.touched || submitted)
        && formCongress.controls.FechaFinInscripTemprana.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaFinInscripTemprana.touched || submitted) && formCongress.controls.FechaFinInscripTemprana.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
          <div class='form-group row col-md-6'></div>
          <!-- Fecha Fin Inscripción Tardía -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6 ' for='FechaFinInscripTardia'>Fin de inscripción tardía:<span
                class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaFinInscripTardia' [ngClass]="{'is-invalid': (formCongress.controls.FechaFinInscripTardia.touched || submitted)
        && formCongress.controls.FechaFinInscripTardia.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaFinInscripTardia.touched || submitted) && formCongress.controls.FechaFinInscripTardia.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
        </div>
        <hr>
        <h4 class="card-title text-center"><b>Entrega de artículos</b></h4>

        <div class="row">
          <!-- Fecha Límite Papers -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaLimPapers'>Límite de entrega:
              <span class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaLimPapers' [ngClass]="{'is-invalid': (formCongress.controls.FechaLimPapers.touched || submitted)
        && formCongress.controls.FechaLimPapers.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaLimPapers.touched || submitted) && formCongress.controls.FechaLimPapers.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
          <br>
          <!-- Fecha Prórroga Papers -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaProrrogaPapers'>Prórroga de entrega:<span
                class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaProrrogaPapers' [ngClass]="{'is-invalid': (formCongress.controls.FechaProrrogaPapers.touched || submitted)
        && formCongress.controls.FechaProrrogaPapers.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaProrrogaPapers.touched || submitted) && formCongress.controls.FechaProrrogaPapers.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
        </div>

        <hr>
        <h4 class="card-title text-center"><b>Evaluación de artículos</b></h4>
        <div class="row justify-content-md-center">
          <!-- Fecha Fin Evaluación -->
          <div class='form-group row col-md-6'>
            <label class='col-form-label col-sm-6' for='FechaFinEvaluacion'>Fin de evaluación:<span class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaFinEvaluacion' [ngClass]="{'is-invalid': (formCongress.controls.FechaFinEvaluacion.touched || submitted)
        && formCongress.controls.FechaFinEvaluacion.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaFinEvaluacion.touched || submitted) && formCongress.controls.FechaFinEvaluacion.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
          <br>
        </div>
        <!-- Fecha Fin Reevaluación -->
        <div class="row justify-content-md-center">
          <div class='form-group row col-md-6 text-center'>
            <label class='col-form-label col-sm-6 col-sm-offset-4' for='FechaFinReEv'>Fin de reevaluación:<span class='text-danger'>*</span></label>
            <div class='col-sm-6'>
              <input type='date' class='form-control' formControlName='FechaFinReEv' [ngClass]="{'is-invalid': (formCongress.controls.FechaFinReEv.touched || submitted)
         && formCongress.controls.FechaFinReEv.errors}" onclick='this.select()' />
              <span class='text-danger'
                *ngIf='(formCongress.controls.FechaFinReEv.touched || submitted) && formCongress.controls.FechaFinReEv.errors?.required'>
                Requerido
              </span>
            </div>
          </div>
        </div>
        <br>
        <div class="row justify-content-md-center btn-row">
          <a class="btn btn-secondary col-md-4" (click)='cancel()' role="button">Cancelar</a>
          &nbsp;
          <a class="btn btn-primary col-md-4" role="button" (click)="guardar()">Guardar Cambios</a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">


</div>
