<div class="container">
  <form [formGroup]='formCongress'>
    <!-- Simposios -->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2" for="simposios">Simposios:<span
          class="text-danger">*</span></label>
      <div class="col-sm-6">
        <select name="simposios" class="form-control" formControlName="simposios" [ngClass]="{'is-invalid': (formCongress.controls.simposios.touched || submitted)
              && formCongress.controls.simposios.errors}" >
          <option *ngFor="let opt of simposios" [value]="opt.id">
            ‌{{ opt.nombre }}
          <option>
        </select>
        <span class="text-danger"
          *ngIf="(formCongress.controls.simposios.touched || submitted) && formCongress.controls.simposios.errors?.required">
          Requerido
        </span>
      </div>
    </div>

    <!-- Aca van los simposios seleccionados  -->

    <!-- Coord local -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='coordLocal'>Email Coord Local: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-6'>
        <input type='email' class='form-control' formControlName='coordLocal' [ngClass]="{'is-invalid': (formCongress.controls.coordLocal.touched || submitted)
    && formCongress.controls.coordLocal.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.coordLocal.touched || submitted) && formCongress.controls.coordLocal.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- Fecha Inicio -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaInCongreso'>Fecha Inicio: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaInCongreso' [ngClass]="{'is-invalid': (formCongress.controls.fechaInCongreso.touched || submitted)
  && formCongress.controls.fechaInCongreso.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaInCongreso.touched || submitted) && formCongress.controls.fechaInCongreso.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- Fecha Fin -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaFinCongreso'>Fecha Fin: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaFinCongreso' [ngClass]="{'is-invalid': (formCongress.controls.fechaFinCongreso.touched || submitted)
     && formCongress.controls.fechaFinCongreso.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaFinCongreso.touched || submitted) && formCongress.controls.fechaFinCongreso.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- Fecha Limite Papers -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaLimPapers'>Fecha Limite Presentación de Papers: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaLimPapers' [ngClass]="{'is-invalid': (formCongress.controls.fechaLimPapers.touched || submitted)
  && formCongress.controls.fechaLimPapers.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaLimPapers.touched || submitted) && formCongress.controls.fechaLimPapers.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- fecha prorroga Papers -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaProrrogaPapers'>Fecha Prorroga de Entrega de Papers: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaProrrogaPapers' [ngClass]="{'is-invalid': (formCongress.controls.fechaProrrogaPapers.touched || submitted)
  && formCongress.controls.fechaProrrogaPapers.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaProrrogaPapers.touched || submitted) && formCongress.controls.fechaProrrogaPapers.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- fehca Fin evaluacion -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaFinEvaluacion'>Fecha Fin de Evaluacion de Papers: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaFinEvaluacion' [ngClass]="{'is-invalid': (formCongress.controls.fechaFinEvaluacion.touched || submitted)
  && formCongress.controls.fechaFinEvaluacion.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaFinEvaluacion.touched || submitted) && formCongress.controls.fechaFinEvaluacion.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- fecha fin Reevaluacion -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='fechaFinReEv'>Fecha Fin Reevaluacion de Papers: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-3'>
        <input type='date' class='form-control' formControlName='fechaFinReEv' [ngClass]="{'is-invalid': (formCongress.controls.fechaFinReEv.touched || submitted)
  && formCongress.controls.fechaFinReEv.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.fechaFinReEv.touched || submitted) && formCongress.controls.fechaFinReEv.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <!-- Aulas -->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2" for="aulas">Aulas:<span
          class="text-danger">*</span></label>
      <div class="col-sm-6">
        <select name="aulas" class="form-control" formControlName="aulas" [ngClass]="{'is-invalid': (formCongress.controls.aulas.touched || submitted)
              && formCongress.controls.aulas.errors}" >
          <option *ngFor="let opt of aulas" [value]="opt.id">
            ‌{{ opt.nombre }}
          <option>
        </select>
        <span class="text-danger"
          *ngIf="(formCongress.controls.aulas.touched || submitted) && formCongress.controls.aulas.errors?.required">
          Requerido
        </span>
      </div>
    </div>


    <!-- Modalidad  -->
    <div class='form-group row'>
      <label class='col-form-label col-sm-2 col-sm-offset-2' for='modalidad'>Modalidad: <span
          class='text-danger'>*</span></label>
      <div class='col-sm-6'>
        <input type='text' class='form-control' formControlName='modalidad' [ngClass]="{'is-invalid': (formCongress.controls.modalidad.touched || submitted)
  && formCongress.controls.modalidad.errors}" onclick='this.select()' />
        <span class='text-danger'
          *ngIf='(formCongress.controls.modalidad.touched || submitted) && formCongress.controls.modalidad.errors?.required'>
          Requerido
        </span>
      </div>
    </div>

    <div class="row justify-content-md-center btn-row">
      <a class="btn btn-secondary col-md-4" href="#" role="button">Cancelar</a>
      &nbsp;
      <a class="btn btn-primary col-md-4" href="#" role="button">Guardar Cambios</a>
    </div>

  </form>

</div>

