<div class="col">
<div class="card">
    <img src="../../../assets/imgs/background.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{congress.nombre}}</h5>
      <p class="card-text">Sede: {{congress.sede}}  {{sede}}</p>
      <p class="card-text"><u>Fecha de Límite de Inscripción Temprana</u>: {{fechaTemprana}}</p>
      <p class="card-text"><u>Fecha de Límite de Inscripción Tardía</u>: {{fechaTardia}}</p>
      <a href="#" class="btn btn-primary">Inscribirme</a>
    </div>
  </div>
</div>