<div class="container-fluid">
  <div class="evaluation-cards">
          <hr>
          <h3 class="card-title text-center">Evaluación de Artículos</h3>
          <hr>
  </div>
  <!-- Filtros -->
    <div class="row">
      <div class="col-auto col-form-label"><label for="btn-group-filtros">Filtros</label></div>
      <div class="btn-group col-auto" id="btn-group-filtros" role="group">
        <button type="button" class="btn btn-outline-primary" (click)="filter(0)">Todos</button>
        <button type="button" class="btn btn-outline-primary" (click)="filter(4)">Pendiente</button>
        <button type="button" class="btn btn-outline-primary" (click)="filter(6)">Aprobados</button>
        <button type="button" class="btn btn-outline-primary" (click)="filter(7)">Rechazados</button>
        <button type="button" class="btn btn-outline-primary" (click)="filter(5)">Reentrega</button>
      </div>
    </div>
  <!-- Evaluation Cards List -->
  <div *ngFor="let art of vectorArticulos; index as i">
      <div class="card col-md-8 offset-2">
          <div class="card-body">
            <div class="row ">
              <div class="col-auto me-auto">
                <h5 class="card-title">{{art.nombre}}</h5>
              </div>
              <div class="col-auto">
                <h5 class="card-title"><span class="badge bg-primary"
                  [class.bg-warning]="art.idEstado === 5"
                  [class.text-dark]="art.idEstado === 5"
                  [class.bg-success]="art.idEstado === 6 || art.idEstado === 8"
                  [class.bg-danger]="art.idEstado === 7 || art.idEstado === 9">{{art.estado}}</span></h5>
              </div>
            </div>
            <div class="row">
              <h6 class="card-subtitle mb-2 text-muted" id="evaluadores">Evaluadores:</h6>
            </div>
              <div *ngFor="let ev of art.evaluaciones" class="row ev-reco">
                <div class="col-auto me-auto">
                  <p id="nombreEvaluador">&nbsp;&nbsp;&nbsp;&nbsp;{{ev.evaluador}}:</p>
                </div>
                <div class="col-auto">
                  <p class="card-text">{{ev.recomendacion}}</p>
                </div>
              </div>
          </div>
          <div class="card-footer">
            <a class="btn  card-footer-btn" (click)="getArchivo(i)"><i class="fas fa-file-pdf"></i> Ver artículo</a> 
            &nbsp; 
            <a class="btn  card-footer-btn" (click)="verDetalle(i)"><i class="fa fa-search-plus"></i> Ver detalle</a>
            <a *ngIf="!art.edit" class="btn card-footer-btn" id="editar" (click)="toggleEdit(i)"><i class="fa fa-pencil"></i> Evaluar</a>
            <div id="evaluation-select" *ngIf="art.edit">
              <a class="btn btn-outline-success" *ngIf="art.idEstado !== 6 && art.idEstado !== 8" (click)="evaluar(i, 1)">Aprobar</a>
              &nbsp;
              <a class="btn btn-outline-danger" *ngIf="art.idEstado !== 7 && art.idEstado !== 9" (click)="evaluar(i, 2)">Rechazar</a>
              &nbsp;
              <a class="btn btn-outline-warning" *ngIf="art.idEstado !== 5" (click)="evaluar(i, 3)">Reentrega</a>
              &nbsp;
              <a class="btn btn-outline-secondary" title="Cancelar" (click)="toggleEdit(i)"><i class="fas fa-times fa-lg"></i></a>
            </div>
          </div>
        </div>
  </div>
</div>
<!-- Evaluation Detail Modal -->
<button hidden id="activar-modal" data-bs-toggle="modal" data-bs-target="#detallesModal"></button>
<!-- Modal Detalles -->
<div class="modal fade" id="detallesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detallesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="detallesModalLabel">
            {{detNombreArticulo}} <span class="badge bg-primary" [class.bg-warning]="detEstado.id === 5"
                                                                 [class.text-dark]="detEstado.id === 5"
                                                                 [class.bg-success]="detEstado.id === 6 || detEstado.id === 8"
                                                                 [class.bg-danger]="detEstado.id === 7 || detEstado.id === 9">{{detEstado.nombre}}</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalOnClose(index)"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <table class="table table-hover table-bordered">
              <thead class="text-center">
                <tr>
                  <th>Aspecto</th>
                  <th>{{detEvUno.nombre}}</th>
                  <th>{{detEvDos.nombre}}</th>
                  <th>{{detEvTres.nombre}}</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let det of detalles" >
                  <td>{{det.aspecto}}</td> <!-- criterio -->
                  <td>{{det.res1}}</td> <!-- ev1 -->
                  <td>{{det.res2}}</td> <!-- ev2 -->
                  <td>{{det.res3}}</td> <!-- ev3 -->
              </tbody>
            </table>
            <div class="row row-detalle align-items-center">
              <div class="col-md-3">
                <label for="selectStateDetalle" class="col-form-label"><span id="spanEvaluacion">Evaluación:</span></label>
              </div>
              <div class="col-md-4">
                <select class="form-select" id="selectStateDetalle">
                  <option disabled selected value=""></option>
                  <option value="1" *ngIf="detEstado.id !== 6 && detEstado.id !== 8">Aprobar</option>
                  <option value="2" *ngIf="detEstado.id !== 7 && detEstado.id !== 9">Rechazar</option>
                  <option value="3" *ngIf="detEstado.id !== 5">Necesita Reentrega</option>
              </select>
              </div>
            </div>
            <div class="row row-detalle">
              <div class="col-md-3">
                <label for="observacion-autor" class="col-form-label"><span id="spanEvaluacion">Observación para el Autor:</span></label>
              </div>
              <div class="col-md-8">
                <textarea class="form-control" id="observacion-autor">{{observacionAutor}}</textarea>
              </div>
            </div>
            <div class="row row-detalle">
              <div class="col-md-3"></div>
              <div class="col-auto">
                <a class="btn btn-outline-success" id="btnGuardar" (click)="evaluarDetalle(index)">Guardar Evaluación <i class="fa fa-save fa-lg"></i></a>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-auto me-auto">
          <a class="btn btn-primary btn-border" (click)="getArchivo(index)"><i class="fas fa-file-pdf"></i> Ver artículo</a>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary btn-border" data-bs-dismiss="modal" (click)="modalOnClose(index)">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
