<div class="container-fluid">
  <app-congress-list *ngIf="!edit" (newCongressEvent)='newCongress()'
  (editCongressEvent)='editCongress($event)' (deleteCongressEvent)='deleteCongress($event)' (assignPapersEvent)='assignPapers($event)'>
  </app-congress-list>
  <app-congress-form *ngIf="edit" [congress]='congress' (congressEmitter)='toggleCreateCongress($event)'
  (cancelCongress)='newCongress()'></app-congress-form>
  <app-asignar-paper-evaluador-list *ngIf="assignPaper" [congress]='congress'></app-asignar-paper-evaluador-list>
</div>

