<div class="container-fluid">
  <app-congress-list *ngIf="showComponent=='list'" (newCongressEvent)='newCongress()'
  (editCongressEvent)='editCongress($event)' (deleteCongressEvent)='deleteCongress($event)' (scoreEvaluatorsEvent)="scoreEvaluators($event)">
  </app-congress-list>
  <app-congress-form *ngIf="showComponent=='edit'" [congress]='congress' (congressEmitter)='toggleCreateCongress($event)'
  (cancelCongress)='newCongress()'></app-congress-form>
  <app-score-evaluators *ngIf="showComponent=='scoreEvaluators'"></app-score-evaluators>
</div>

