.container-fluid{
  background-color: #F4F4F4;

}

.contenidos{
  padding-bottom: 3rem;
}

.thead{
  background-color: #C8E5F1;
}

.greyned{
  color: grey;
}
.card-title{
  font-weight:300;
}


.login-form{
	width:75%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.btn-primary{
  background-color: #3CAFE0 ;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  padding-bottom: 2rem;  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #FFFFFF;

}


.login-form{
  width:100%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}
.fas{
  font-size: 1.25rem;
  color: #3CAFE0;
}
.fa{
  font-size: 1.25rem;
  color: #00609C;
}

a{
  cursor: pointer;
}

.card-title{

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}

hr {
  border:#00609C solid 1px;

}




input{
  border-bottom: 1px solid #8d999e ;
}

@media (min-width: 768px) {
  .card{
    max-width: 60%;
    background-color: #F4F4F4;
  }


  .card-body{
    padding: auto;
  }

  hr{
    margin-left: 25%;
    margin-right: 25%;
  }

 }



