<div class="container-fluid">
  <div class="contenidos">
    <hr>
    <h3 class='text-center'>Asignar artículos a Evaluadores</h3>
    <hr>
  </div>
  <br>

  <div class="row p-2 justify-content-end">
    <a class="btn btn-primary btn-block col-md-2" role="button" (click)='distributeEvaluators()'>Asignación Masiva</a>
    &nbsp;
    <a class="btn btn-primary btn-block col-md-2" role="button" (click)='post()'>Finalizar Asignación</a>
  </div>
  <div class="row">
    <app-search class="col-md-5" [fullList]='assignedPaperList' [attribFilter]='nombreArticulo'
      (listEvent)='search($event)'></app-search>
  </div>
  <table class="table text-center table-hover table-bordered">
    <thead class='thead'>
      <tr>
        <th class="col-md-3">Artículo</th>
        <th class="col-md-2">Evaluador 1</th>
        <th class="col-md-2">Evaluador 2</th>
        <th class="col-md-2">Evaluador 3</th>
      </tr>
    </thead>

    <tbody>
      <tr class='align-items-center' *ngFor='let item of showAssignedPaperList'>
        <td>{{item.nombreArticulo}}</td>
        <td>
          <div class="col-sm-12">
            <select name="eval" class="form-control" (change)="selectOption1($event.target.value, item)">
              <option hidden [selected]='item.idEval1===null'>Evaluador 1</option>
              <option *ngFor="let eval of evaluatorList" value='{{eval.idEvaluador}}'
                [selected]='item.idEval1===eval.idEvaluador'>{{ eval.nombreEv }} {{eval.apellidoEv}}</option>
            </select>
          </div>
        </td>
        <td>
          <div class="col-sm-12">
            <select name="eval" class="form-control" (change)="selectOption2($event.target.value, item)">
              <option hidden [selected]='item.idEval2===null'>Evaluador 2</option>
              <option *ngFor="let eval of evaluatorList" value='{{eval.idEvaluador}}'
                [selected]='item.idEval2===eval.idEvaluador'>{{ eval.nombreEv }} {{eval.apellidoEv}}</option>
            </select>
          </div>
        </td>
        <td>
          <div class="col-sm-12">
            <select name="eval" class="form-control" (change)="selectOption3($event.target.value, item)">
              <option hidden [selected]='item.idEval3===null'>Evaluador 3</option>
              <option *ngFor="let eval of evaluatorList" [value]='eval.idEvaluador'
                [selected]='item.idEval3===eval.idEvaluador'>{{ eval.nombreEv }} {{eval.apellidoEv}}</option>
            </select>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
