<div class="container-fluid">
    <div class="contenidos">
      <hr>
      <h3 class='text-center'>Asignar artículos a Evaluadores</h3>
      <hr>
    </div>
    <br>
    <form [formGroup]="formPapersEvaluators">
    <table class="table text-center table-hover table-bordered">
      <thead class='thead'>
        <tr>
          <th class="col-md-3">Artículo</th>
          <th class="col-md-2">Evaluador 1</th>
          <th class="col-md-2">Evaluador 2</th>
          <th class="col-md-2">Evaluador 3</th>
        </tr>
      </thead>
  
      <tbody>
        <tr class='align-items-center' *ngFor='let row of assignedPapersList'>
          <!-- Articulo -->
          <td>{{row.articulo.nombre}}</td>
          <!-- Evaluador 1 -->
          <td>
            <div *ngIf="row.evaUno == null">
            <select name="evaUno" id="evaUno">
            <option selected>--Seleccione un Evaluador--</option>
            <option *ngFor="let e of evaluatorsList" onchange="post(row, 1, row.articulo, e)">{{e.nombre}}</option>
          </select>
        </div>
        <div *ngIf="row.evaUno !== null"><span>{{row.evaUno.nombre}}</span>
          &nbsp;
          <button class="fas fa-trash" onclick="delete(row, row.articulo, row.evaUno)"></button>
        </div>
        </td>
        <!-- Evaluador 2 -->
        <td>
          <div *ngIf="row.evaDos == null">
          <select name="evaDos" id="evaDos">
          <option selected>--Seleccione un Evaluador--</option>
          <option *ngFor="let e of evaluatorsList" onchange="post(row, 2, row.articulo, e)">{{e.nombre}}</option>
        </select>
      </div>
      <div *ngIf="row.evaDos !== null"><span>{{row.evaDos.nombre}}</span>
        &nbsp;
        <button class="fas fa-trash" onclick="delete(row, row.articulo, row.evaDos)"></button>
      </div>
      </td>
      <!-- Evaluador 3 -->
      <td>
        <div *ngIf="row.evaTres == null">
        <select name="evaTres" id="evaTres">
        <option selected>--Seleccione un Evaluador--</option>
        <option *ngFor="let e of evaluatorsList" onchange="post(row, 3, row.articulo, e)">{{e.nombre}}</option>
      </select>
    </div>
    <div *ngIf="row.evaTres !== null"><span>{{row.evaTres.nombre}}</span>
      &nbsp;
      <button class="fas fa-trash" onclick="delete(row, row.articulo, row.evaTres)"></button>
    </div>
    </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
  
