<div class="container-fluid">
    <div class="contenidos">
      <hr>
      <h3 class='text-center'>Asignar artículos a Evaluadores</h3>
      <hr>
    </div>
    <br>
    <table class="table text-center table-hover table-bordered">
      <thead class='thead'>
        <tr>
          <th class="col-md-3">Artículo</th>
          <th class="col-md-2">Evaluador 1</th>
          <th class="col-md-2">Evaluador 2</th>
          <th class="col-md-2">Evaluador 3</th>
        </tr>
      </thead>

      <tbody>
        <tr class='align-items-center' *ngFor='let row of paperList'>

      </tbody>
    </table>
  </div>

