.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.card{
  background-color: #f8f7f7;
}

.card-title{
  border-top: 1px solid #00609C;
  border-bottom:  1px solid #00609C;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}
