<div class="card">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center">{{cert.idCertificado ? 'Editar Certificado': 'Nuevo Certificado' }}</h3>
      <hr>
    </div>
    <div>
      <h6>Por Favor recuerde:</h6>
      <p>Aquí subirá los nuevos template para los certificados.</p>
      <p>Utilice nombres representativos.</p>
    </div>
    <div class="card-text text-right">
      <form [formGroup]="formCertificate">
      <!-- nombre -->
      <div class='form-group row'>
        <label class='col-form-label col-sm-3 col-sm-offset-2' for='nombre'>Nombre: <span
          class='text-danger'>*</span></label>
          <div class='col-sm-6'>
            <input type='text' class='form-control' formControlName='nombre'
            [ngClass]="{'is-invalid': (formCertificate.controls.nombre.touched || submitted)
              && formCertificate.controls.nombre.errors}" onclick='this.select()'/>
            <span class='text-danger'
            *ngIf='(formCertificate.controls.nombre.touched || submitted) && formCertificate.controls.nombre.errors?.required'>
              Requerido
            </span>
          </div>
      </div>

      <!-- desc -->
      <div class='form-group row'>
        <label class='col-form-label col-sm-3 col-sm-offset-2' for='desc'>Descripción: <span
          class='text-danger'>*</span></label>
          <div class='col-sm-6'>
            <input type='text' class='form-control' formControlName='desc'
            [ngClass]="{'is-invalid': (formCertificate.controls.desc.touched || submitted)
              && formCertificate.controls.desc.errors}" onclick='this.select()'/>
            <span class='text-danger'
            *ngIf='(formCertificate.controls.desc.touched || submitted) && formCertificate.controls.desc.errors?.required'>
              Requerido
            </span>
          </div>
      </div>

      <!-- archivo -->
      <div class='form-group row'>
        <label class='col-form-label col-sm-3 col-sm-offset-2' for='archivo'>Archivo: <span
            class='text-danger'>*</span></label>
        <div class='col-sm-6'>
          <input type='file' accept="image/png, image/gif, image/jpeg" (change)="handleFileInput($event.target.files)" class='form-control'
            formControlName='archivo' [ngClass]="{'is-invalid': (formCertificate.controls.archivo.touched || submitted)
              && formCertificate.controls.archivo.errors}" onclick='this.select()' />
          <span class='text-danger' *ngIf='(submitted) && formCertificate.controls.archivo.errors?.required'>
            Requerido
          </span>
        </div>
      </div>

      <div class="form-group row" *ngIf="cert.nombre">
        <label class='col-form-label col-sm-3 col-sm-offset-2' for='archivo'>Archivo ya subido:</label>
        <a (click)='getArchivo()' class='col-form-label col-sm-3' for='archivo'>{{cert.nombre | titlecase}}.pdf</a>
      </div>

      <div class="row justify-content-md-center btn-row">
        <a class="btn btn-secondary col-md-3" (click)='cancel()' role="button">Cancelar</a>
        &nbsp;
        <a class="btn btn-primary col-md-3" (click)='submit()' role="button">{{cert.idCertificado ? 'Guardar Cambios' : 'Nuevo Certificado'}}</a>
      </div>
      <br>
    </form>

    </div>
  </div>
</div>
