.container-fluid{
    background-color: #F4F4F4;
  
  }
  
hr{
    border:#00609C solid 1px;
}
  
@media (min-width: 768px) {
    hr{
        margin-left: 25%;
        margin-right: 25%;

    }

    .container-fluid{
        padding: 5rem;
    }
}

.ev-reco {
    margin-bottom: -15px;
}

.evaluation-cards {
    padding-bottom: 20px;
}

.card {
    margin-top: 20px;
}

.card-footer {
    background-color: white;
}

.modal-header {
    padding-left: 29px;
    padding-right: 29px;
}

.modal-footer {
    padding-left: 29px;
    padding-right: 29px;
}

.row-detalle {
    margin-bottom: 10px;
}

.table {
    margin-top: 30px;
}

.btn-primary {
    background-color: #00609C;
    color: white;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #0080cf;
}

.btn-border {
    border: none;
}

.btn-outline-primary {
    border-color: #00609C;
    color: #00609C;
}

.btn-outline-primary:hover {
    background-color: #00609C;
    border-color: #00609C;
    color: white;
}

.card-footer-btn {
    color: #00609C;
    background: transparent;
    border: transparent;
}

.card-footer-btn:hover {
    color: #3cafe0;
}

#selectStateDetalle {
    float: left;
}

#btnGuardar {
    float: right;
}

#evaluadores {
    font-style: italic;
}

#nombreEvaluador {
    font-weight: 500;
}

#responsable {
    font-style: italic;
}

#editar {
    float: right;
}

#evaluation-select {
    float:right;
}

#evaluation-select-detalle {
    white-space:nowrap;
}

#spanEvaluacion {
    font-weight: 500;
}
