
<div class="container-fluid">
  <div class="contenidos">
    <hr>
    <h3 class='text-center'>Asignar Chairs Secundarios</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]='formAssignSecChairs'>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Asignar chair a temática</h5>
                <label for="selectChair">Usuarios: </label>
                <div class="col-sm-6">
                  <select name="chair" class="form-control" formControlName="selectChair"
                    [ngClass]="{'is-invalid': (formAssignSecChairs.controls.selectChair.touched || submitted) && formAssignSecChairs.controls.selectChair.errors}">
                    <option hidden selected>Seleccione un chair a asignar</option>
                    <option *ngFor="let chair of chairsNotAssigned">{{ chair.nombre }} {{chair.apellido}} - {{ chair.email }}</option>
                  </select>
                </div>
                <br>
                <label for="selectTematica">Simposio: </label>
                <div class="col-sm-6">
                  <select name="chair" class="form-control" formControlName="selectTematica"
                    [ngClass]="{'is-invalid': (formAssignSecChairs.controls.selectTematica.touched || submitted) && formAssignSecChairs.controls.selectTematica.errors}">
                    <option hidden selected>Seleccione una simposio</option>
                    <option *ngFor="let theme of tematicas">{{ theme.descripcion }}</option>
                  </select>
                </div>
                <br>
                <div class="row justify-content-md-end">
                  <button type="button" class="btn btn-primary col-sm-4" (click)="asignarChair() ">
                    <span class="fas fa-plus">
                      Asignar
                    </span>
                  </button>
                </div>
              </div>
            </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Chais Asignados</h5>
          <table class="table text-center table-hover table-bordered">
            <thead class='thead'>
              <tr>
                <th class="col-md-4">Chair</th>
                <th class="col-md-4">Simposio</th>
                <th class="col-md-2">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr class='align-items-center' *ngFor='let chair of chairsAssigned'>
                <td>{{chair.value}}</td>
                <td>{{chair.theme}}</td>
                <td>
                  <div class="btn-group col-md-3">
                    <a (click)='toggleRemoveHandled(item)' title='Eliminar'><i class="fas fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
