<div class="container-fluid">
  <div class="contenidos">
    <hr>
    <h3 class='text-center'>Asignar Chairs Secundarios</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <form [formGroup]='formAssignSecChairs'>
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <h5 class="card-title">Asignar chair a simposio</h5>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="selectChair">Usuario</label>
                  <select name="chair" class="form-select" formControlName="selectChair"
                    [ngClass]="{'is-invalid': submitted && formAssignSecChairs.controls.selectChair.errors}">
                    <option hidden selected>Seleccione un chair a asignar</option>
                    <option *ngFor="let chair of chairsNotAssigned" value={{chair.id}}>{{ chair.nombre }} {{chair.apellido}} - {{ chair.email }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="selectTematica">Simposio</label>
                  <select name="chair" class="form-select" formControlName="selectTematica"
                    [ngClass]="{'is-invalid': submitted && formAssignSecChairs.controls.selectTematica.errors}">
                    <option hidden selected>Seleccione una simposio</option>
                    <option *ngFor="let theme of tematicas" value={{theme.id}}>{{ theme.descripcion }}</option>
                  </select>
                </div>
                <div class="text-end">
                  <a type="button" class="btn btn-primary col-md-3" (click)="asignarChair()">Asignar <i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Chairs asignados</h5>
          <div class="row">
            <app-search
              [fullList]='chairsAssigned'
              [attribFilter]='"nombreChair"'
              (listEvent)='search($event)'
            ></app-search>
          </div>
          <table class="table text-center table-hover table-bordered">
            <thead class='thead'>
              <tr>
                <th class="col-md-4">Chair</th>
                <th class="col-md-4">Simposio</th>
                <th class="col-md-2">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr class='align-items-center' *ngFor='let chair of showList'>
                <td>{{chair.nombreChair}} {{chair.apellidoChair}}</td>
                <td>{{chair.nombreSimposio}}</td>
                <td>
                  <a (click)='toggleRemoveHandled(chair)' title='Eliminar'><i class="fas fa-trash fa-lg"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
