.card-title{
    font-weight:normal;
    font-size: 26px;
  }
  .card-text{
    font-size: 16px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  
  .thead{
    background-color: #C8E5F1;
  }
  
  
  hr {
    border:#00609C solid 1px;
  }
  
  