<div class="card">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center">Revisión de paper: {{paper.nombre | titlecase}} </h3>
      <hr>
    </div>
    <div>
      <h6>Por Favor recuerde:</h6>
      <p>ACA PONER UNA DESC O ALGO DE LOS CRITERIOS O nada si no corresponde</p>


    </div>

    <div class="card-text text-right">

      <h1> ACA VIENE LA TABLA CON LOS CRITERIOS</h1>


        <div class="row justify-content-md-center btn-row">
          <a class="btn btn-primary col-md-7" (click)='cancel()' role="button">Volver</a>
        </div>
    </div>
  </div>
</div>

<div class="container">


</div>
