<div class="container-fluid">
    <div class="contenidos">
      <hr>
      <h3 class='text-center'>Puntuar evaluadores</h3>
      <hr>
    </div>
    <table class="table text-center table-hover table-bordered">
      <thead class='thead'>
        <tr>
          <th class="col-md-4">Evaluador</th>
          <th class="col-md-2">Puntaje</th>
        </tr>
      </thead>
  
      <tbody>
        <tr class='align-items-center' *ngFor='let e of evaluatorsList'>
          <td>{{e.evaluator.nombre}}</td>
          <td>
              <div>
                  <select name="form-control score" id="score">
                      <option *ngIf="selectFlag == false" selected>--Seleccione un puntaje--</option>
                      <option *ngFor="let s of scoreList" onchange="score(s)">{{s}}</option>
                  </select>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  