<div class="container-fluid justify-content-center back">
    <div class="contacto">
    <div class="contenidos">
        <br>
        <hr>
        <h3 class='text-center'>Contacto</h3>
        <hr>
    </div>
        <div class="row g-0 justify-content-center">
            <div class="col-auto map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4814.032026291128!2d-64.19445278692635!3d-31.44071189672358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2f63bd47aa7%3A0xd84b77324dd71bc8!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%E2%80%93%20Facultad%20Regional%20C%C3%B3rdoba%20(U.T.N.%20%E2%80%93%20F.R.C.)%20%5BCiudad%20Universitaria%5D!5e0!3m2!1ses!2sar!4v1631318413494!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-auto info">
                <div class="card-body">
                    <h3 class="card-title">Universidad Tecnológica Nacional</h3>
                    <h4 class="card-text">Facultad Regional Córdoba</h4>
                    <div>
                    <i class="fa fa-map-marker fa-lg"></i>&nbsp;&nbsp;Maestro Marcelo López esq, Cruz Roja - Córdoba, Córdoba, Argentina
                    </div>
                    <br>
                    <div>
                    <i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;UTN.FRC.Congressity@gmail.com
                    </div>
                    <br>
                    <div>
                    <i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;Teléfono: +54 351 5986000
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>