.card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #F4F4F4;
  }
  
  
  @media (min-width: 768px) {
    .card{
      max-width: 50%;
    }
  
    .card-body{
      padding: auto;
    }
   }
  
  .card-title{
    border-top: 1px solid #00609C;
    border-bottom:  1px solid #00609C;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight:300;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: fit-content;
  }
  
  hr{
    border: 1px #00609C solid;
  }
  
  
  .spaced{
    padding-bottom: 8rem;
  }