<div class="container-fluid">
  <div class="contenidos">
    <hr>
    <h3 class='text-center'>Inscripciones</h3>
    <hr>
  </div>
  <div class="section">
    <h6>Usted está a punto de inscribirse al congreso: {{congress.nombre}}
      a desarrollarse en la sede {{congress.sede}}. Los días {{congress.fechaInicio}} a {{congress.fechaFin}}.
    </h6>
    <h6>
      Por favor, complete todos los campos:
    </h6>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
          aria-expanded="true" aria-controls="flush-collapseOne">
          Selecciona tu entrada
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body row justify-content-center">
          <div class="col-sm-6 text-center" *ngFor="let item of tarifas">
            <div class="card text-left" [ngClass]='tarifaSelected.id === item.id ? "marked" : "" '>
              <div class="card-body">
                <h4 class="card-title">{{item.nombre}}</h4>
                <h6 class="card-text">$ {{item.precio}}</h6>

                <form [formGroup]='formUsuario'>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 col-sm-offset-2" for="cupon">Tengo un cupón: <span
                        class="text-danger">*</span></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" formControlName="cupon" [ngClass]="{'is-invalid': formUsuario.controls.cupon.errors}" onclick="this.select()" />
                      <span class="text-danger"
                        *ngIf="formUsuario.controls.cupon.errors">
                        Cupón inválido.
                      </span>
                    </div>
                  </div>

                  <button type="button" (click)='inscribirme(item)' class="btn btn-primary btn-lg btn-block">
                    Inscribirme
                  </button>
                </form>
                <button type="button" hidden class="btn btn-primary btn-lg btn-block" id='go-next'
                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                aria-controls="flush-collapseThree">
                Inscribirme
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Realizar el Pago
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" *ngIf="tarifaSelected">
          <div class="row justify-content-center">
            <div class="col-sm-6 ">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Estas a un paso de completar tu compra!</h5>
                  <p class="card-text">¿Estas seguro que deseas la entrada "<b>{{tarifaSelected.nombre}}</b>"?</p>
                  <p class="card-text">El precio de la entrada es de $<b>{{tarifaSelected.precio}}</b></p>
                  <div class="row justify-items-end">
                    <button type="button" class="btn btn-primary btn-lg btn-block"
                    *ngIf="loading"
                    >
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    </button>
                    <button type="button" (click)='pagar()' class="btn btn-primary btn-lg btn-block aling-items-end"
                    *ngIf="!loading"
                    >
                      Continuar al pago
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
