<div class="card">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center">Evaluando</h3>
      <hr>
    </div>

    <div class="card-text text-center">
      <form>


        <div class="row justify-content-md-center pt-3 btn-row">
          <!-- <a class="btn btn-secondary col-md-4" (click)='cancel()' role="button">Cancelar</a>
          &nbsp;
          <a class="btn btn-primary col-md-4" (click)='submit()'
            role="button">{{congress.id === undefined ? 'Crear Congreso' : 'Guardar Cambios'}}</a> -->
        </div>

      </form>
    </div>
  </div>
</div>

