<div class="card justify-content-center" style="width: 25rem;">
    <div class="card-body">
        <hr>
      <h5 class="card-title text-center">Recuperar tu cuenta</h5>
      <hr>
      <p class="card-text">Ingresá tu email para recuperar tu cuenta.</p>
      <form [formGroup]='formRecoverPass'>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="name@example.com" formControlName="email" [ngClass]="{'is-invalid': (formRecoverPass.controls.email.touched || submitted)
        && formRecoverPass.controls.email.errors}" onclick="this.select()" />
        <span class="text-danger" 
        *ngIf="(formRecoverPass.controls.email.touched || submitted) && formRecoverPass.controls.email.errors?.required">
        Requerido
        </span>
        <label for="floatingPassword">Email</label>
      </div>
      <div class="text-end"> 
        <button type="submit" class="btn btn-secondary"  (click)='cancel()'>Cancelar</button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary"  (click)='submit()'>Buscar</button>
        </div>
    </form>
    </div>
  </div>
