<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Comité Organizador Local</h5>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted">Coordinadores</h6>
        <p>• Dr. Ing. Marcelo Marciszack (UTN FR Córdoba)</p>
      <h6 class="card-subtitle mb-2 text-muted">Miembros</h6>
        <p>• Ing. Luis Perna (UTN FR Delta)</p>
        <p>• Ing. Andrés Bursztyn (UTN FR BA)</p>
        <p>• Dr. Daniel Riesco (UNSL) </p>
        <p>• Ing. Beatríz Gallo (UCASAL) </p>
        <p>• Ing. Roberto Muñoz (UTN Regional Córdoba)</p>
        <p>• Ing. Osvaldo Marcovecchio (Universidad Atlántida Argentina)</p>
 
    </div>
  </div>
