<div class="container-md card">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center">Registro</h3>
      <hr>
    </div>

    <div class="card-text">
      <form [formGroup]='formRegister'>
        <!--Email-->
        <div class="form-group row justify-content-center">
          <label class="col-form-label col-sm-3 col-md-3 col-md-offset-2" for="email">Email: <span
              class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': (formRegister.controls.email.touched || submitted)
                  && formRegister.controls.email.errors}" onclick="this.select()" />
            <span class="text-danger"
              *ngIf="(formRegister.controls.email.touched || submitted) && formRegister.controls.email.errors?.required">
              Requerido. Por favor ingrese un mail con el formato correcto: usuario@example.com
            </span>
          </div>
        </div>
         <!--Pasword-->
         <div class="form-group row justify-content-center">
          <label class="col-form-label col-sm-3 col-md-3 col-md-offset-2" for="password">Contraseña: <span
              class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': (formRegister.controls.password.touched || submitted)
                  && formRegister.controls.password.errors}" onclick="this.select()" />
            <span class="text-danger"
              *ngIf="(formRegister.controls.password.touched || submitted) && formRegister.controls.password.errors?.required">
              Requerido
            </span>
          </div>
        </div>
        <!--Rep Pasword-->
        <div class="form-group row justify-content-center">
          <label class="col-form-label col-sm-3 col-md-3 col-md-offset-2" for="repPassword">Contraseña: <span
              class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="repPassword" class="form-control" formControlName="repPassword" [ngClass]="{'is-invalid': (formRegister.controls.repPassword.touched || submitted)
                  && formRegister.controls.repPassword.errors}" onclick="this.select()" />
            <span class="text-danger"
              *ngIf="(formRegister.controls.repPassword.touched || submitted) && formRegister.controls.repPassword.errors?.required">
              Requerido
            </span>
          </div>
        </div>
        <br>
        <div class="row p-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)='submit()'>Registrarme</button>
          <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)='cancel()'>Cancelar</button>
        </div>

      </form>


    </div>
  </div>
</div>
