.card-title{
  font-weight:300;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.login-form{
	width:75%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-secondary{
  margin-top: 1rem;
}

.btn-primary{
  background-color: #3CAFE0 ;
  border: none;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  padding-bottom: 2rem;}


.login-form{
  width:100%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}


a{
  cursor: pointer;
}

.card-title{

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}

hr {
  border:#00609C solid 1px;

}



.spaced{
  padding-bottom: 8rem;
}

.col-form-label{
  font-size: larger;
}

input{
  border: none;
  border-bottom: 1px solid #8d999e ;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
  .card{
    max-width: 60%;
  }


  .card-body{
    padding: auto;
  }

  hr{
    margin-left: 25%;
    margin-right: 25%;
  }

 }



