<div class="container">
  <div class="card login-form ">
    <div class="card-body">
      <h3 class="card-title text-center">Registro</h3>
      <div class="card-text">
        <form [formGroup]='formRegister'>
          <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" formControlName="email" form-group aria-describedby="emailHelp">
            <span class="text-danger" *ngIf="(formRegister.controls.email.touched || submitted)
            && ( formRegister.controls.email.errors?.email || formRegister.controls.email.errors?.required)">
              Por favor ingrese un email con formato correcto: usuario@example.com
            </span>
          </div>
          <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" formControlName="password">
            <span class="text-danger" *ngIf="(formRegister.controls.password.touched || submitted)
            && formRegister.controls.password.errors?.required">
              Requerido
            </span>
          </div>
          <div class="form-group">
            <label>Repetir contraseña:</label>
            <input type="password" class="form-control" formControlName="repPassword">
            <span class="text-danger" *ngIf="(formRegister.controls.repPassword.touched || submitted)
            && formRegister.controls.repPassword.errors?.required">
              Requerido
            </span>
          </div>
          <br>
          <div class="row p-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)='submit()'>Registrarme</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
