<div class="contenidos">
  <hr>
  <h3 class="card-title text-center"><b>Registro</b></h3>
  <hr>
</div>
<div class="container">
  <div class="row mb-3">
    <div class="card col-md-6 offset-3">
      <h3 class="card-title"><b>Cuenta</b></h3>
      <div class="card-body">
        <div class="row mb-3">
          <label class="form-label" for="email">Email<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <input type="email" class="form-control" formControlName="email" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.email.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="password">Contraseña<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <input type="password" class="form-control" formControlName="password" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.password.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="repPassword">Repetir Contraseña<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <input type="password" class="form-control" formControlName="repPassword" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.repPassword.errors}" onclick="this.select()"/>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="container">
  <div class="row mb-3">
    <div class="card col-md-6 offset-3">
      <h3 class="card-title"><b>Datos Personales</b></h3>
      <div class="card-body">
        <div class="row mb-3">
          <label class="form-label" for="nombre">Nombre<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="nombre"
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.nombre.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="apellido">Apellido<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="apellido" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.apellido.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <label class="form-label" for="tipoDni">Tipo de Documento<span class="text-danger">*</span></label>
            <select name="tipoDni" class="form-select" formControlName="tipoDni" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.tipoDni.errors}">
              <option *ngFor="let opt of tipoDni" value={{opt.id}}>
                ‌{{opt.nombre}}
              <option>
            </select>
          </div>
          <div class="col-sm-8">
            <label class="form-label" for="dni">Número<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="dni" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.dni.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6">
            <label class="form-label" for="fechaNacimiento">Fecha de Nacimiento<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="fechaNacimiento" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.fechaNacimiento.errors}" onclick="this.select()"/>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="celular">Celular</label>
            <input type="text" class="form-control" formControlName="celular" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.celular.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6">
            <label class="form-label" for="provincia">Provincia<span class="text-danger">*</span></label>
            <select name="provincia" class="form-select" formControlName="provincia" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.provincia.errors}">
              <option *ngFor="let opt of provincias" value={{opt.id}}>
                ‌{{ opt.nombre }}
              <option>
            </select>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="localidad">Localidad<span class="text-danger">*</span></label>
            <select name="localidad" class="form-select" formControlName="localidad" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.localidad.errors}">
              <option *ngFor="let opt of localidades" value={{opt.id}}>
                ‌{{ opt.nombre }}
              <option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <label class="form-label" for="calle">Calle<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="calle" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.calle.errors}" onclick="this.select()"/>
          </div>
          <div class="col-sm-4">
            <label class="form-label" for="nroCalle">Número<span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="nroCalle"
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.nroCalle.errors}" onclick="this.select()"/>
          </div>
          <div class="col-sm-2">
            <label class="form-label" for="number">Piso</label>
            <input type="text" class="form-control" formControlName="piso" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.piso.errors}" onclick="this.select()"/>
          </div>
          <div class="col-sm-2">
            <label class="form-label" for="dpto">Dpto.</label>
            <input type="text" class="form-control" formControlName="dpto" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.dpto.errors}" onclick="this.select()"/>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-form-label col-sm-3" for="sede">Sede<span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <select name="sede" class="form-select" formControlName="sede" 
            [ngClass]="{'is-invalid': submitted && formUsuario.controls.sede.errors}">
              <option *ngFor="let opt of sedes" value={{opt.id}}>
                ‌{{ opt.nombre }}
              <option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <a class="btn btn-secondary col-md-3" (click)='cancel()' role="button">Cancelar</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary col-md-3" (click)='submit()' role="button">Registrarse</a>
  </div>
</div>