.card{
  background-color: #FFFF;
  border-radius: 1rem;
}

hr{
  border-top: 1px solid #00609C;
  border-bottom:  1px solid #00609C;
}

.card-title{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  max-width: fit-content;
}

.btn{
  border: none;
}

.btn-primary{
  background-color: #3CAFE0;
}

.btn-primary:hover{
  background-color: #3994bb ;
}
