<app-certificate-template-list
  *ngIf="list"
  (newCertEvent)="newCert()"
  (deleteCertEvent)="deleteCertificate($event)"
  (editCertEvent)="editCert($event)"
  (gameCertEvent)="playCertEvent($event)"
  (sendAllCertEvent)="sendAllCertEvent()"
  [certList]="certList"

></app-certificate-template-list>
<app-certificate-template-form
  *ngIf="form"
  [cert]="cert"
  (cancelCert)="toggleEdit()"
  (certEmitter)="submit($event)"
></app-certificate-template-form>
<app-certificate-detail-form
  *ngIf="game"
  [cert]="cert"
  (cancelCertEvent)="toggleEdit()"
  (guardarGrafoEvent)="guardarGrafo($event)"
  (verGrafoEvent)="verGrafo($event)"
></app-certificate-detail-form>

<app-asignar-certificados
*ngIf="send"
 (cancelCertEmitter)="cancelCertsSend()"
 [certList]="certList"
></app-asignar-certificados>

