<div class="container-fluid">
  <app-evaluate-paper-list *ngIf="!flagEvaluate && ok"
   [paperList]='paperList'
   (EvaluationEvent)='evaluate($event)'
   (EvaluationAcceptEvent)='evaluate($event)'
   (EvaluationCancelEvent)='cancelEvaluate($event)'>
</app-evaluate-paper-list>
  <app-evaluate-paper-form *ngIf="flagEvaluate"
  [paper]='paper'
  [items]="items"
  (GetItemsEvent)="getItems($event)"
  (GetFileEvent)="getFile($event)"
  (SaveEvent)="saveEvaluation($event)"
  (CancelEvent)="toggleFlagEvaluate($event)">
  </app-evaluate-paper-form>
</div>

