@media (min-width: 768px) {
    hr{
        border:#00609C solid 1px;
        margin-left: 25%;
        margin-right: 25%;
    }
  
    .container-fluid{
        background-color: #F4F4F4;
        padding: 5rem;
    }
}

.contenidos{
    padding-bottom: 3rem;
}
  
.thead{
    background-color: #C8E5F1;
}

.btn{
    border: none;
}
  
.btn-primary{
    background-color: #3CAFE0 ;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-primary:hover{
    background-color: #3994bb ;
}

.fas{
    color: #3CAFE0;
}
.fas:hover{
    color: #3994bb;
    cursor: pointer;
}