<div class="container-fluid">
  <h1>Congresos Activos:</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor='let item of congressList'>
      <div class="row">
        <div class="col-md-3">
          <p class="greyned">Sede</p>
          <b>{{item.sede}}</b>
        </div>
        <div class="col-md-3">
          <p class="greyned">Nombre</p>
          <b>{{item.nombre}}</b>
        </div>
        <div class="col-md-3">
          <p class="greyned">Año</p>
          <b>{{item.ano}}</b>
        </div>
        <div class="btn-group col-md-3">
          <a (click)='toggleEdit(item)'><i class="fas fa-pencil-alt"></i></a>
        </div>
      </div>
    </li>
  </ul>
  <br>
  <a class="btn btn-primary col-md-4" (click)='toggleNew()' role="button">Nuevo Congreso</a>

</div>
