<div class="card col-md-6 offset-3">
    <div class="card-header" >
        <div id="nombreArticulo">
          <h5>{{articulo.nombre}}</h5>
        </div>
        <div id="badge">
          <h5><span id="estado-badge" class="badge bg-primary">{{estadoEvaluacion}}</span></h5>
        </div>
    </div>
    <div class="card-body">
      <p><b>{{articulo.responsable}}</b></p>
      <p><b id="evaluadores">Evaluadores:</b> <br>
        &nbsp;&nbsp;&nbsp;&nbsp; <b *ngFor="let ev of evaluadores">{{ev.nombre}}:</b> &nbsp;&nbsp;&nbsp;&nbsp;Aprobar fuertemente<br>
      <a class="btn btn-primary" (click)="downloadPaper()"><i class="fa fa-download"></i> Descargar</a> 
      &nbsp; 
      <a class="btn btn-primary" (click)="verDetalle()"><i class="fa fa-search-plus"></i> Ver detalle</a>
      <a *ngIf="!edit" class="btn btn-primary" id="editar" (click)="toggleEdit()"><i class="fa fa-pencil"></i> Editar</a>
      <div id="evaluation-select" *ngIf="edit">
        &nbsp;
        <a class="btn btn-outline-secondary" title="Cancelar" (click)="toggleEdit()"><i class="fa fa-times fa-lg"></i></a> 
        &nbsp;
        <a class="btn btn-outline-success" title="Guardar" (click)="save()"><i class="fa fa-floppy-o fa-lg"></i></a>
      </div>
      <div id="evaluation-select" *ngIf="edit">
          <select class="form-select" id="selectState">
              <option disabled selected value=""></option>
              <option value="aprobar">Aprobar</option>
              <option value="rechazar">Rechazar</option>
              <option value="reentrega">Para reentregar</option>
          </select>
      </div>
      <!-- Button trigger modal -->
      <button hidden id="trigger-modal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              {{message}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>