.card {
    margin-top: 20px;
}

#nombreArticulo {
    float: left;
}

#badge {
    float: right;
}

#evaluadores {
    font-style: italic;
    color: gray;
}

#editar {
    float: right;
}

#evaluation-select {
    float:right;
}

.btn-primary {
    color: #00609C;
    background: transparent;
    border: transparent;
}

.btn-primary:hover {
    text-decoration: underline;
    color: #3cafe0;
}