
.card-title{
  font-weight:300;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.login-form{
	width:75%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.btn-primary{
  background-color: #3CAFE0 ;
  border: none;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  padding-bottom: 2rem;  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #F4F4F4;

}


.login-form{
  width:100%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}

.thead{
  background-color: #C8E5F1;
}


a{
  cursor: pointer;

}

.simposiosSelected{
  padding: 0.3rem;
  color: black;
  text-decoration: none;
  padding-top: 1rem;
}

i{
  cursor: pointer;
}

i:hover{
  color: blue;
}

.fas{
  font-size: 1.25rem;
  color: #3CAFE0;
}

.card-title{

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}

hr {
  border:#00609C solid 1px;
}

input{
  border: none;
  border-bottom: 1px solid #8d999e ;
}

@media (min-width: 768px) {
  .card{
    max-width: 60%;
  }


  .card-body{
    padding: auto;
  }

  hr{
    margin-left: 25%;
    margin-right: 25%;
  }

 }



