<div class="container-fluid">
    <div class="card col-md-6 offset-3">
        <div class="card-body text-center">
            <h2 class="card-title">{{congreso}}</h2>
            <i class="fas fa-school fa-7x"></i>
              <h5 class="card-subtitle mb-2 text-muted">Próximo Evento</h5>
              <h3 class="card-title">{{evento.titulo}}</h3>
              <h6 class="card-subtitle mb-2 text-muted">Simposio</h6>
              <h5>{{evento.simposio}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Aula</h6>
              <h5>{{aula}}</h5>
              <p class="card-text"><b>Comienza: </b>{{evento.inicio}} - <b>Termina: </b>{{evento.fin}}</p>
              <h5 class="card-subtitle mb-2 text-muted">Contenido</h5>
              <p class="card-text">{{evento.contenido}}</p>
          </div>
    </div>
  </div>
