.container-fluid{
  background-color: #F4F4F4;

}

.contenidos{
  padding-bottom: 3rem;
}

.thead{
  background-color: #C8E5F1;
}

.greyned{
  color: grey;
}

.btn-primary{
  background-color: #3CAFE0 ;
  border: none;
}

i{
  padding-top: 0.5rem;
  cursor: pointer;
}

i:hover{
  color: blue;
}

.fas{
  font-size: 1.25rem;
  color: #00609C;
}

hr{
  border:#00609C solid 1px;
}

@media (min-width: 768px) {
  hr{
    margin-left: 25%;
    margin-right: 25%;

  }

  .container-fluid{
    padding: 5rem;
  }

 }

