<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Comisión Permanente RIISIC</h5>
      <hr>
        <p>• Dr. Ing. Marcelo Marciszack (UTN FR Córdoba)</p>
        <p>• Ing. Luis Perna (UTN FR Delta)</p>
        <p>• Ing. Andrés Bursztyn (UTN FR BA)</p>
        <p>• Dr. Daniel Riesco (UNSL) </p>
        <p>• Ing. Beatríz Gallo (UCASAL) </p>
        <p>• Ing. Roberto Muñoz (UTN Regional Córdoba)</p>
        <p>• Ing. Osvaldo Marcovecchio (Universidad Atlántida Argentina)</p>
 
    
    </div>
  </div>