@media (min-width: 768px) {
  .card{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    padding-bottom: 2rem;  
    background-color: #F4F4F4;
  }

  .card-body{
    padding: auto;
  }

  hr{
    margin-left: 25%;
    margin-right: 25%;
    border:#00609C solid 1px;
  }
}

.card-title{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}

.col{
  margin-bottom: 20px;
}

.btn{
  border: none;
}

.btn-primary{
  background-color: #3CAFE0 ;
}

.btn-primary:hover{
  background-color: #3994bb ;
}

.btn-primary{
  background-color: #3CAFE0 ;
  border: none;
}

a{
  cursor: pointer;
}

input{
  border: none;
  border-bottom: 1px solid #8d999e ;
}
  
  
  
  