<div class="home">
  <div class="row g-0">
    <div class="col-md-4 img">
      <img src="https://github.com/jAgusGelos/Tesis-imgs/blob/master/Typing-pana.png" class="img-fluid" id="home">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h2 class="card-title"><b>¡Bienvenido a Congressity!</b></h2>
        <hr>
        <p class="card-text text-center">La nueva forma de organizar y participar en congresos</p>
    </div>
  </div>
</div>
<div id="activos">
  <hr id="hr">
  <h3 class="text-center">Congresos Activos</h3>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4 grid">
    <app-congress-card *ngFor="let congress of congressList"
    [congress]="congress"
    (verInfoPublicaEvent)="verInfoPublica($event)"></app-congress-card>
  </div>
</div>
</div>

