.calendar-container {
  border: 1px solid transparent;
  border-color: #fff #ddd;
  margin: 0 2rem 2rem;
}

calendar-scheduler-view >>>
.cal-scheduler-view {
  text-transform: capitalize !important;
}
