.calendar-container {
  border: 1px solid transparent;
  border-color: #fff #ddd;
  margin: 0 2rem 2rem;
}

calendar-scheduler-view >>>
.cal-scheduler-view {
  text-transform: capitalize !important;
}

calendar-scheduler-view >>>
.fas {
  font-size: 1.25rem;
  color: #00609C;
}

.login-form{
  width:100%;
}

.form-group{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}


