<div class="container-lg justify-content-center">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Inicio de Sesión</h3>
      <div class="card-text">
        <form [formGroup]='formLogin'>
          <!--Email-->
          <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="email">Email: <span
                class="text-danger">*</span></label>
            <div class="col-sm-6">
              <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': (formLogin.controls.email.touched || submitted)
                    && formLogin.controls.email.errors}"  onclick="this.select()"/>
              <span class="text-danger" *ngIf="(formLogin.controls.email.touched || submitted) && formLogin.controls.email.errors?.required">
                Required
              </span>
            </div>
          </div>

          <!--Contraseña-->
          <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="password">Contraseña: <span
                class="text-danger">*</span></label>
            <div class="col-sm-6">
              <input  type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': (formLogin.controls.password.touched || submitted)
                    && formLogin.controls.password.errors}" onclick="this.select()"/>
              <span class="text-danger"
                *ngIf="(formLogin.controls.password.touched || submitted) && formLogin.controls.password.errors?.required">
                Required
              </span>
            </div>
          </div>

          <div class="row justify-content-md-center pt-3">
            <a class="btn btn-secondary col-md-4" href="#" role="button">Cancelar</a>
            &nbsp;
            <a class="btn btn-primary col-md-4" (click)="login()" role="button">Iniciar Sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
