<div class="card col-md-4 offset-md-3">
  <div class="card-body">
    <div class="contenidos">
      <hr>
      <h3 class="card-title text-center">Inicio de Sesión</h3>
      <hr>
    </div>
    <div class="card-text">
      <form class="container" [formGroup]='formLogin'>
        <div class="row form-floating mb-3">
          <input type="email" class="form-control " id="floatingInput"  formControlName="email" placeholder="name@example.com"
          [ngClass]="{'is-invalid': submitted && formLogin.controls.email.errors}" onclick="this.select()">
          <label for="floatingInput">E-Mail</label>
        </div>
        <div class="row form-floating mb-3">
          <input type="password" class="form-control" id="Password" formControlName="password" placeholder="Password"
          [ngClass]="{'is-invalid': submitted && formLogin.controls.password.errors}" onclick="this.select()">
          <label for="Password">Contraseña</label>
        </div>
        <div class="row form-floating mb-3">
          <select name="simposio" id="floatingSelect" class="form-select" aria-label="Floating label" formControlName="idCongress"
          [ngClass]="{'is-invalid': submitted && formLogin.controls.idCongress.value === '' && formLogin.controls.idCongress.errors}">
            <option selected disabled></option>
            <option *ngFor="let opt of congressList" value={{opt.id}}>
              ‌{{ opt.nombre }}
            </option>
          </select>
          <label for="floatingSelect">Congreso</label>
        </div>
        <div class="row justify-content-md-center mb-3">
          <a class="btn btn-primary col-md-6" role="button" (click)='submit()'>Iniciar Sesión</a>
        </div>
        <div class="row justify-content-md-center mb-3">
          <a class="col-auto text-center" id="linkRetrievePassword" title="Recuperar Contraseña" href="/recuperarContraseña">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="row justify-content-md-center text-center">
          <a class="col-auto col-form-label" type="button" role="button" id="linkSignIn" (click)="register()"><i class="fas fa-sign-in-alt"></i> Registrarse</a>
        </div>
      </form>
    </div>
  </div>
</div>
