@media (min-width: 768px) {
  .card {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;  margin-bottom: 1rem;
  }

  .card-body {
    padding: auto;
  }

  hr {
    border:#00609C solid 1px;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.card-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:300;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: fit-content;
}

#linkRetrievePassword {
  text-decoration: none;
  color: gray;
}

#linkRetrievePassword:hover {
  color: #00609C;
}

#linkSignIn {
  text-decoration: none;
  color: gray;
}

#linkSignIn:hover {
  color: #00609C;
}

.btn-primary {
  background-color: #3CAFE0 ;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #3994bb ;
}

a {
  cursor: pointer;
}