@media (min-width: 768px) {
  hr {
    margin-left: 10%;
    margin-right: 10%;
    border:#00609C solid 1px;
  }

  .container-fluid {
    padding: 5rem;
    background-color: #C4C4C4;
  }
}

.contenidos {
  padding-bottom: 3rem;
}

.card {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-title {
  font-weight:300;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: #3CAFE0;
}

.btn-primary:hover {
  background-color: #3994bb;
}