.navbar{
  background-color: #00609C;
}

.navbar-collapse{
  justify-content: center;
}

.navbar-toggler{
  background-color: #3CAFE0;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color:#c7c7c7;
}

.btn-outline-primary{
  border-color: white;
  color: white;
}

.btn-outline-primary:hover{
  background-color: white;
  border-color: white;
  color: #00609C;
}

.dropdown-toggle{
  color: white;
}

.dropdown-item:hover{
  background-color:white;
  color: #00609C;
}

.dropdown-menu{
  background-color: #00609C;
}
.dropdown-item{
  color: white;
}

