<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img id="logo-img" src="../../assets/imgs/logo_navbar.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-plus"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Inicio</a>
      </li>
      <!-- SUPERUSUARIO -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/congreso" *ngIf="rol.includes(0)  && user">Congreso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/simposios" *ngIf="rol.includes(0)  && user">Simposios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/evaluators" *ngIf="rol.includes(0)  && user">Evaluadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sedes" *ngIf="rol.includes(0) && user">Sedes</a>
      </li>
        <!-- CHAIR PRINCIPAL -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/cupones" *ngIf="rol.includes(0)  && user">Cupones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/misCongresos" *ngIf="rol.includes(1)  && user">Mi Congreso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chairs" *ngIf="rol.includes(1)  && user">Asignar Chairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/room" *ngIf="rol.includes(1)  && user">Aulas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evaluacion" *ngIf="rol.includes(1)  && user">Planilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assistants" *ngIf="rol.includes(1)  && user">Ayudantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tarifas" *ngIf="rol.includes(1)  && user">Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/generarAgenda" *ngIf="rol.includes(1)  && user">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/certificados" *ngIf="rol.includes(1)  && user">Certificados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/estadisticas" *ngIf="rol.includes(1)  && user">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reportes" *ngIf="rol.includes(1)  && user">Reportes</a>
        </li>
        <!-- CHAIR SECUNDARIO -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/evaluador" *ngIf="rol.includes(2)  && user">Mis Evaluadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/asignarPaperEvaluador" *ngIf="rol.includes(2)  && user">Asignar Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evaluatePapersChairSec" *ngIf="rol.includes(2)  && user">Evaluar
            Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/control" *ngIf="rol.includes(2)  && user">Tablero de Control</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/paperXSimposio" *ngIf="rol.includes(2)  && user">Artículos por Simposio</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/evaluar" *ngIf="rol.includes(2)  && user">Evaluar Papers</a>
        </li> -->
        <!-- EVALUADOR -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/verEvaluaciones" *ngIf="rol.includes(3)  && user">Evaluar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preferenciaSimposio" *ngIf="rol.includes(3) && user">Preferencia de
            Simposios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preferenciaSimposio"
            *ngIf="evaluator && user && !rol.includes(3)">Preferencia de Simposios</a>
        </li>
        <!-- AYUDANTE -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscripcionFisica" *ngIf="rol.includes(5)  && user">Inscripción Física</a>
        </li>
        <!-- AUTOR -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario" *ngIf="rol.includes(4) && user">Inscripcion</a>
        </li>
        <li class="nav-item">
          <!--  <a class="nav-link" routerLink="/missing" *ngIf="rol.includes(3)  && user">Seleccionar Simposios</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/callForPapers"
            *ngIf="user && (!rol.includes(0) && !rol.includes(1) && !rol.includes(2)) && !rol.includes(3)">Call for
            Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
        <li class="nav-item  d-lg-none">
          <a *ngIf='!user' class="nav-link" routerLink="/login">Iniciar Sesion</a>
          <button *ngIf='user' type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
    <div class="logged  text-right align-items-right d-none d-lg-block">
      <a *ngIf='!user' class="btn btn-outline-primary" routerLink="/login">Iniciar Sesión</a>
      <div *ngIf='user' class="btn-group">
        <li class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          {{this.userLogged.nombre}} {{this.userLogged.apellido}} </li>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><a class="dropdown-item" type="button" routerLink="/usuario">Mi Perfil</a></li>
          <li><a class="dropdown-item" type="button" routerLink="/changePassword">Cambiar Contraseña</a></li>
          <li><a class="dropdown-item" type="button" (click)='logout()'>Cerrar Sesión</a></li>
        </ul>
      </div>
      <!-- <button *ngIf='user' type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button> -->

    </div>
  </div>
</nav>
