<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo-img" src="../../assets/imgs/logo_navbar.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-plus"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuario" *ngIf="(!rol.includes(0) && !rol.includes(1) && !rol.includes(2)) && !rol.includes(3) && user">Inscripcion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/congreso" *ngIf="rol.includes(0)  && user">Congreso</a>
        </li>
        <li class="nav-item dropdown" id="nav-item-dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Congreso
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/congreso">Congresos Activos</a></li>
            <li><a class="dropdown-item" href="#">Ejes Temáticos</a></li>
            <li><a class="dropdown-item" href="#">Comité Organizador</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/simposios" *ngIf="rol.includes(0)  && user">Simposios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evaluators" *ngIf="rol.includes(0)  && user">Evaluadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tarifas" *ngIf="rol.includes(0)  && user">Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misCongresos" *ngIf="rol.includes(1)  && user">Mi Congreso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chairs" *ngIf="rol.includes(1)  && user">Asignar Chairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/room" *ngIf="rol.includes(1)  && user">Aulas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evaluacion" *ngIf="rol.includes(1)  && user">Planilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tarifas" *ngIf="rol.includes(1)  && user">Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evaluador" *ngIf="rol.includes(2)  && user">Mis Evaluadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asignarPaperEvaluador" *ngIf="rol.includes(2)  && user">Asignar Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evaluar" *ngIf="rol.includes(2)  && user">Evaluar Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/verEvaluaciones" *ngIf="rol.includes(3)  && user">Evaluar</a>
        </li>
        <li class="nav-item">
         <!--  <a class="nav-link" href="/missing" *ngIf="rol.includes(3)  && user">Seleccionar Simposios</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/callForPapers" *ngIf="user && (!rol.includes(0) && !rol.includes(1) && !rol.includes(2)) && !rol.includes(3)">Call for Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item  d-lg-none">
          <a *ngIf='!user' class="nav-link" href="/login">Iniciar Sesion</a>
          <button *ngIf='user' type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
    <div class="logged  text-right align-items-right d-none d-lg-block">
      <a *ngIf='!user' type="button" class="btn btn-primary" href="/login">Iniciar Sesión</a>
      <button *ngIf='user' type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
