<div class="container-fluid">
    <div class="contenidos">
      <hr>
      <h3 class='text-center'>Tarifas</h3>
      <hr>
    </div>
    <div class="row justify-content-md-end">
      <a class="btn btn-primary col-sm-2" role="button" (click)="toggleNew()">Nueva Tarifa</a>
    </div>
    <br>
    <div class="row">
        <table class="table text-center table-hover table-bordered">
          <thead class='thead'>
            <tr>
              <th class="col-md-3">Nombre</th>
              <th class="col-md-2">Precio</th>
              <th class="col-md-3">Desde</th>
              <th class="col-md-3">Hasta</th>
              <th class="col-md-2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class='align-items-center'*ngFor='let item of tarifaList; let i = index'>
              <td>{{item.nombre}}</td>
              <td>{{ item.precio | currency}}</td>
              <td>{{ item.fechaDesde.split('T')[0].split('-').reverse().join('/') }}</td>
              <td>{{ item.fechaHasta.split('T')[0].split('-').reverse().join('/') }}</td>
              <td>
                <a title='Editar' role="button" (click)="toggleEdit(item)"><i class="fas fa-pencil-alt fa-lg"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title='Eliminar' role="button" (click)="toggleRemoveHandled(item)"><i class="fas fa-trash fa-lg"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <div>

