
<div id="Simposios">
    <br>
  <h3 class="text-center">Comité Académico</h3>
  <hr id="hr">
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4 grid"> 
    <app-comite-academico-list *ngFor="let symposium of symposiumList" [symposium]="symposium"></app-comite-academico-list>
  </div>
</div>
<div>
    <br>
    <h3 class="text-center">Evaluadores</h3>
    <hr>
    <br>
    <div class="row">
        <table class="table text-center">
          <tbody>
            <tr class='align-items-center' *ngFor='let ev of evaluatorsList; let i = index'>
              <td>{{ev.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
