<div class="container-fluid">
  <div class="contenidos">
    <hr>
    <h3 class='text-center'>Evaluadores Activos</h3>
    <hr>
  </div>
  <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
  <div class="row justify-content-md-between">
    <app-search class="col-md-5 justify-content-md-start" [fullList]='evaluatorsList' [attribFilter]='"nombre"' (listEvent)='search($event)'>
    </app-search>
 
  
    <a *ngIf="!new" class="btn btn-primary col-md-3 justify-content-md-end" role="button" (click)="toggleNew()">Nuevo Evaluador</a>

    <form *ngIf="new" [formGroup]='formEvaluator' class="card col-md-5 justify-content-md-end">
      <div class="card-body">
        <h5 class="card-title">Agregar Evaluador</h5>
        <p class="card-text">Se enviará un correo de invitación al usuario para que sea evaluador.</p>
        <input class="form-control" type="email" list="correos" placeholder="Buscar por nombre o dirección de correo"
          formControlName="correo" [ngClass]="{'is-invalid': submitted && formEvaluator.controls.correo.errors}">
        <datalist id="correos">
          <option *ngFor="let user of usersList" value="{{user.email}}">{{user.nombre}} {{user.apellido}}
        </datalist>
        <br>
        <a class="btn btn-secondary" role="button" (click)="toggleNew()">Cancelar</a>
        &nbsp;
        <a class="btn btn-primary" role="button" (click)="sendMail()">Enviar correo &nbsp; <i class="fas fa-envelope"></i></a>
      </div>
    </form>
</div>
  
  
    <table class="table text-center table-hover table-bordered">
      <thead class='thead'>
        <tr>
          <th class="col-md-4">Nombre</th>
          <th class="col-md-4">E-mail</th>
          <th class="col-md-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class='align-items-center align-middle' *ngFor='let ev of showList; let i = index'>
          <td>{{ev.nombre}}</td>
          <td>{{ev.email}}</td>
          <td>
            <a title='Eliminar' role="button" (click)="deleteEvaluator(ev)">
              <i class="fas fa-trash fa-lg"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
 
</div>
