<div class="card justify-content-center" style="width: 25rem;">
    <div class="card-body">
      <hr>
      <h3 class="card-title text-center">Cambiar Contraseña</h3>
      <hr>
      <div class="card-text">
      <form [formGroup]='form'>
        <!-- Contraseña Actual -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password" formControlName="actual" [ngClass]="{'is-invalid': (form.controls.actual.touched || submitted)
        && form.controls.actual.errors}" onclick="this.select()" />
        <span class="text-danger" 
        *ngIf="(form.controls.actual.touched || submitted) && form.controls.actual.errors?.required">
        Requerido
        </span>
        <label for="floatingPassword">Contraseña Actual</label>
      </div>
      <!-- Contraseña Nueva -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password" formControlName="new" [ngClass]="{'is-invalid': (form.controls.new.touched || submitted)
        && form.controls.new.errors}" onclick="this.select()" />
        <span class="text-danger" 
        *ngIf="(form.controls.new.touched || submitted) && form.controls.new.errors?.required">
        Requerido
        </span>
        <label for="floatingPassword">Contraseña Nueva</label>
      </div>
      <!-- Confirmación Contraseña Nueva -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="repNueva" placeholder="Password" formControlName="repPass" [ngClass]="{'is-invalid': (form.controls.repPass.touched || submitted)
        && form.controls.repPass.errors}" onclick="this.select()" />
        <span class="text-danger" 
        *ngIf="(form.controls.repPass.touched || submitted) && form.controls.repPass.errors?.required">
        Requerido
        </span>
        <label for="floatingPassword">Confirmar Contraseña Nueva</label>
      </div>
      <div class="text-end"> 
        <button type="submit" class="btn btn-secondary" (click)='cancel()'>Cancelar</button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click)='submit()'>Guardar</button>
        </div>
      </form>
    </div>
    </div>
  </div>