<div class="card justify-content-center">
  <div class="card-body">
    <hr>
    <h3 class="card-title text-center">Cambiar Contraseña</h3>
    <hr>
    <div class="card-text">
      <form [formGroup]='form'>
        <!-- Contraseña Actual -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="actual" 
          [ngClass]="{'is-invalid': submitted && form.controls.actual.errors}" onclick="this.select()"/>
          <label for="floatingPassword">Contraseña Actual</label>
        </div>
      <!-- Contraseña Nueva -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="new" 
          [ngClass]="{'is-invalid': submitted && form.controls.new.errors}" onclick="this.select()"/>
          <label for="floatingPassword">Contraseña Nueva</label>
        </div>
      <!-- Confirmación Contraseña Nueva -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="repNueva" placeholder="Password" formControlName="repPass" 
          [ngClass]="{'is-invalid': submitted && form.controls.repPass.errors}" onclick="this.select()"/>
          <label for="floatingPassword">Confirmar Contraseña Nueva</label>
        </div>
        <div class="text-end"> 
          <button type="submit" class="btn btn-secondary" routerLink="/">Cancelar</button>
          &nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary" (click)='submit()'>Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>